<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.2.13" targetFramework="net461" />
  <package id="angularjs" version="1.5.0" targetFramework="net461" />
  <package id="AngularJS.Animate" version="1.5.0" targetFramework="net461" />
  <package id="AngularJS.Core" version="1.5.0" targetFramework="net461" />
  <package id="AngularJS.Resource" version="1.5.0" targetFramework="net461" />
  <package id="AngularJS.Sanitize" version="1.5.0" targetFramework="net461" />
  <package id="ExtendedXmlSerializer" version="2.1.17" targetFramework="net461" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Interactive" version="3.1.1" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net461" />
</packages>